<div class="row">
    <div *ngIf="options; else elseBlock">
       <table class="table">
           <thead>
               <tr>
                   <th>
                       <input type="checkbox"
                        [checked]="EveryBoxChecked()" 
                        (change)="checkAllCheckBox($event)">Select All
                   </th>
                   <th>ID</th>
                   <th>Name</th>
               </tr>
           </thead>
           <tbody> 
               <tr *ngFor="let p of options; let i=index;">
                       <td>
                           <input type="checkbox" value="{{p.id}}"
                           [(ngModel)]="options[i].checked"
                           >{{options[i].checked}}
                       </td>
                       <td>{{ p.id }}</td>
                       <td>{{ p.name }}</td>
               </tr>
           </tbody>
       </table>
     </div>
   </div>
   
   <div class="row">
     <div class="col-md-12 text-center">
       <button type="button" class="btn btn-primary btn-sm"  (click)="submit()" >Submit</button> &nbsp;
       <!-- <button type="button" class="btn btn-danger btn-sm" (click)="reset($event)">Reset</button> -->
     </div>
   </div>
   <ng-template #elseBlock>No record found</ng-template>