<div class="container">
    <div class="row"></div>
</div>

<div class="container mt-4">
    <div class="row ">
        <div class="col-md-6"> 
             <h3 class="text" style="font-weight: bold;">The DASI Score Sheet 
                  <!-- <span style="font-size: 15px">( to be used by staff ) </span> -->
                  </h3>
        </div>
    </div>
     <div class="row ">
        <div class="col"> 
             <h4 class="text " style="font-weight: bold;">DUKE ACTIVITY STATUS INDEX</h4> 
        </div>
    </div>
    <div class="row" style="color: purple">
          <div class="col-md-6"> 
              <h5 class="text" style="font-weight: bold;"> Score Sheet </h5>
          </div>
    </div>
     <div class="row">
          <div class="col"> 
              <p class="text">Can you: </p>
          </div>
          <div class="col-md-3"> 
              <p class="text ml-7">Scores are only given for 'yes' replies </p>
          </div>
    </div>
     <div class="row mt-0">
          <div class="col-md-7"> 
              <h6 class="text">1.Take care of yourself, that is , eat, dress, bathe or use the toilet? </h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text mr-3">2.75 </h5>
                    <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                    <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
       <p style="border-bottom: 1px solid purple;"></p>
 
     <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">2.Walk indoors, such as around your house ? </h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text mr-3">1.75 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
    <p style="border-bottom: 1px solid purple;"></p>
 
     <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">3.Walk a block or two on level ground? </h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text mr-3">2.75 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
       <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">4.Climb a flight of stairs or walk up a hill? </h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">5.50 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
         <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">5.Run a short distance distance? </h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">8.00 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple;"></p>
 
         <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">6.Do light work around the house like dusting or washing dishes? </h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">2.70</h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
         <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">7.Do moderate work around the house like vaccuming, sweeping floors or carrying groceries? </h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">3.50 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
        <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">8.Do heavy work around the house like scrubbing floors or lifting or movinf heavy furniture? </h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">8.50 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
        <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">9.Do gardens work like raking leaves, weeding or pushing a lawn mower?</h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">4.50 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                    <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
         <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">10.Have sexual relations?</h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">5.25 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
         <div class="row">
          <div class="col-md-8"> 
              <h6 class="text">11. Participate in moderate recretional activities like golf, bowling, dancing, doubles tennins or throwing a ball?</h6>
          </div>
          <div class="col-md-2"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">6.00 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
          <div class="row">
          <div class="col-md-7"> 
              <h6 class="text">12. Participate in strenuous sports like swimming, singles tennis, football, basketball or skiling?</h6>
          </div>
          <div class="col-md-3"> 
          </div>
           <div class="col-md-2"> 
            <div class="row"> 
                 <h5 class="text  mr-3">7.50 </h5>
                 <mat-checkbox class="example-margin">Yes</mat-checkbox> &nbsp;  &nbsp;
                 <mat-checkbox class="example-margin">No</mat-checkbox>
            </div>
          </div>
    </div>
        <p style="border-bottom: 1px solid purple; "></p>
 
        <div class="row mt-4">
           <div class="col-md-5">  
 
           </div>
 
           <div class="col-md-5 ml-10">
                 <h5 style="color: purple; font-size: 15px">(To be completed by staff) Duke Activity Status Index (DASI) &nbsp; &nbsp;  =  </h5>
           </div>
 
           <div class="col-md-1" style="border: 1px solid purple">
                 <p class="p-2"></p>
           </div>
 
        </div>
 
 
         <!-- <div class="row mt-4">
           <div class="col-md-8">  
 
           </div>
 
           <div class="col-md-2 ml-10">
                 <h5 style="color: purple; font-size: 15px">(MASI) =  </h5>
           </div>
 
           <div class="col-md-1" style="border: 1px solid purple">
            <p class="p-2"></p>
           </div>
 
        </div> -->
</div>